c-contact-tile {
    border: solid var(--lwc-borderWidthThin, 10px) #ef0e70;
    border-radius: var(--lwc-borderRadiusMedium, 40px);
    padding: 0 var(--lwc-varSpacingXxxSmall, 2px);
}

c-contact-tile:before {
    content: 'c-contact-tile';
    color: rgb(13, 207, 65);
    position: absolute;
    top: -9px;
    left: var(--lwc-varSpacingXxSmall, 4px);
    background-color: var(--lwc-colorBackgroundAlt, #ef0d0d);
    padding: 0 var(--lwc-varSpacingXxSmall, 4px);
}